:root {
    --primary-light: #8abdff;
    --primary: #6d5dfc;
    --primary-dark: #5b0eeb;

    --white: #ffffff;
    --greyLight-1: #e4ebf5;
    --greyLight-2: #c8d0e7;
    --greyLight-3: #bec8e4;
    --greyDark: #9baacf;
}

$shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
$inner-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px    100% = 16px
    overflow-y: scroll;
    background: var(--greyLight-1);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Poppins", sans-serif;
    background: var(--greyLight-1);
}

nav {
    width: 75rem;
    height: 60px;
    border-radius: 3rem;
    box-shadow: 0.8rem 0.8rem 1.4rem var(--greyLight-2), -0.2rem -0.2rem 1.8rem var(--white);
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        gap: 20px;

        a {
            text-decoration: none;
            color: var(--primary-dark);
            font-size: 16px;
            font-weight: 600;
        }
        a:hover {
            color: var(--primary);
        }
    }
}

.container {
    min-height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Poppins", sans-serif;
    background: var(--greyLight-1);
}

.components {
    width: 75rem;
    height: 50rem;
    border-radius: 3rem;
    box-shadow: 0.8rem 0.8rem 1.4rem var(--greyLight-2), -0.2rem -0.2rem 1.8rem var(--white);
    padding: 4rem;
}


/*  SWITCH  */
.switch { 
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: repeat(2, min-content);
    grid-gap: 3rem;
    justify-self: center;
    input { display: none; }
    
    &__1, &__2 {
    width: 6rem;
      label {
      display: flex;
      align-items: center;
          width: 100%;
      height: 3rem;
      box-shadow: $shadow;
      background: rgba(255,255,255,0);
          position: relative;
          cursor: pointer;
          border-radius: 1.6rem;
      
          &::after {
              content: "";
        position: absolute;
        left: .4rem;
              width: 2.1rem;
              height: 2.1rem;
        border-radius: 50%;
        background: var(--greyDark);
              transition: all .4s ease;
        }
      &::before {
        content: '';
        width: 100%;
        height: 100%;
        border-radius: inherit;
        background: linear-gradient(330deg, var(--primary-dark) 0%, var(--primary) 50%, var(--primary-light) 100%);
        opacity: 0;
        transition: all .4s ease;
      }
        }
    }
    & input:checked {
          & ~ label {
            &::before { opacity: 1; }
            &::after {
              left: 57%; 
              background: var(--greyLight-1);
            }
          }
      }
  }
  
  /*  CHECKBOX  */
  .checkbox { 
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: repeat(2, 6rem);
    grid-gap: 3rem;
    justify-content: center;
    input { display: none; }
    
    &__1, &__2 {
      width: 6rem;
      display: flex;
      justify-content: center;
      label {
      box-shadow: $shadow;
          cursor: pointer;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
          border-radius: .5rem;
          width: 2.8rem;
          height: 2.8rem;
        
      &:hover i { color: var(--primary); }
      
      i {
        font-size: 1.8rem;
        font-weight: 700;
        color: var(--greyDark);
        transition: .3s ease;
      }
    }
    
    & input:checked {
      & ~ label {
        box-shadow: $inner-shadow;
        i {
          color: var(--primary);
        }
      }
    }
  }
  }

  /*  BUTTONS  */
  .btn {
    width: 15rem;
    height: 4rem;
    border-radius: 1rem;
    box-shadow: $shadow;
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .3s ease;
  
    &__primary {
      grid-column: 1 / 2;
      grid-row: 4 / 5;
      background: var(--primary);
      box-shadow:inset .2rem .2rem 1rem var(--primary-light), 
                inset -.2rem -.2rem 1rem var(--primary-dark),
                $shadow;
      color: var(--greyLight-1);
  
      &:hover { color: var(--white); }
      &:active {
        box-shadow:inset .2rem .2rem 1rem var(--primary-dark), 
               inset -.2rem -.2rem 1rem var(--primary-light);
      }
    }
  
    &__secondary {
      grid-column: 1 / 2;
      grid-row: 5 / 6;
      color: var(--greyDark);
      &:hover { color: var(--primary); }
      &:active {
        box-shadow: $inner-shadow;
      }
    }
  
    p { 
      font-size: 1.6rem;
    }
  }
  
  /*  CHIP  */
  .chip {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    justify-self: center;
    width: 17rem;
    height: 4rem;
    border-radius: 1rem;
    box-shadow: $shadow;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    &__icon {
      width: 3rem;
      height: 3rem;
      border-radius: 1rem;
      margin: 0 0 0 .2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.8rem;
      color: var(--primary);
    }
  
    p {
      font-size: .9rem;
      margin-left: -1.8rem;
      color: var(--greyDark);
    }
  
    &__close {
      width: 1.6rem;
      height: 1.6rem;
      margin: 0 .5rem;
      display: flex;
      font-size: 1.6rem;
      color: var(--greyLight-3);
      cursor: pointer;
    }
  }
  
  /*  FORM  */
  .form {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
  
    &__input {
      width: 20.4rem;
      height: 4rem;
      border: none;
      border-radius: 1rem;
      font-size: 1.4rem;
      padding-left: 1.4rem;
      box-shadow: $inner-shadow;
      background: none;
      font-family: inherit;
      color: var(--greyDark);
  
      &::placeholder { color: var(--greyLight-3); }
      &:focus { outline: none; box-shadow: $shadow; }
    }
    
  }
  
  /*  SEARCH  */
  .search {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    position: relative;
    display: flex;
    align-items: center;
  
    &__input {
      width: 20.4rem;
      height: 4rem;
      border: none;
      border-radius: 1rem;
      font-size: 1.4rem;
      padding-left: 3.8rem;
      box-shadow: $inner-shadow;
      background: none;
      font-family: inherit;
      color: var(--greyDark);
  
      &::placeholder { color: var(--greyLight-3); }
      &:focus { 
        outline: none; 
        box-shadow: $shadow; 
  
         + .search__icon {
          color: var(--primary);
        }
      }
    }
  
    &__icon {
      height: 2rem;
      position: absolute;
      font-size: 2rem;
      padding: 0 1rem;
      display: flex;
      color: var(--greyDark);
      transition: .3s ease;
    }
  }
  